In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ssn

In [41]:
from sklearn.datasets import load_digits
digits = load_digits()

In [42]:
digits.data.shape

(1797, 64)

In [43]:
digits.target.shape

(1797,)

In [44]:
x = pd.DataFrame(digits.data)
y = pd.DataFrame(digits.target)

In [45]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [46]:
y.head()

   0
0  0
1  1
2  2
3  3
4  4

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [48]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [49]:
y_pred = classifier.predict(x_test)

## Accuracy Score

In [50]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9537037037037037

## Log Loss

In [51]:
from sklearn.metrics import log_loss
pred = classifier.predict_proba(x_test)
log_loss(y_test,pred)

0.18015789595861306

## R2 Metrics

In [52]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8679415561419743

## Mean Absolute Error

In [53]:
from sklearn import metrics
metrics.mean_absolute_error(y_test,y_pred)

0.1925925925925926

## Mean Squared Error

In [54]:
metrics.mean_squared_error(y_test,y_pred)

1.0703703703703704

## Confusion Matrix

In [55]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[45,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 47,  0,  0,  0,  0,  2,  0,  3,  0],
       [ 0,  0, 51,  2,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1, 52,  0,  0,  0,  0,  0,  1],
       [ 0,  0,  0,  0, 48,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0, 55,  1,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0, 59,  0,  0,  0],
       [ 0,  1,  0,  1,  1,  0,  0, 50,  0,  0],
       [ 0,  3,  1,  0,  0,  0,  0,  0, 55,  2],
       [ 0,  0,  0,  1,  0,  1,  0,  0,  2, 53]], dtype=int64)

## Classification Report

In [56]:
from sklearn.metrics import classification_report
classification_report(y_test,y_pred)

'             precision    recall  f1-score   support\n\n          0       1.00      1.00      1.00        45\n          1       0.89      0.90      0.90        52\n          2       0.96      0.96      0.96        53\n          3       0.93      0.96      0.95        54\n          4       0.98      1.00      0.99        48\n          5       0.98      0.96      0.97        57\n          6       0.95      0.98      0.97        60\n          7       1.00      0.94      0.97        53\n          8       0.92      0.90      0.91        61\n          9       0.95      0.93      0.94        57\n\navg / total       0.95      0.95      0.95       540\n'